/* Universal Selectors 
The universal selector will select elements of every type (as in the whole document), hence the name “universal”, and the syntax for it is a simple asterisk.
*/

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: left;
}


* {
  background-color: #FFF2FB; /* pale pink */
}


/* Type Selectors 
A type selector (or element selector) will select all elements of the given element type, and the syntax is just the name of the element.
*/

img {
  height: auto;
  width: 400;  
}

div {
  color: blue;
}

p {
  color: purple;  
}

h1 {
  color: coral;
}

/* Class Selectors 
Class selectors will select all elements with the given class, which is just an attribute you place on an HTML element. Here’s how you add a class to an HTML tag and select it in CSS.
*/

.alert-text {
  color: green;
}

.subsection.header {
  color: red;
}

/* ID Selectors
ID selectors are similar to class selectors. They select an element with the given ID, which is another attribute you place on an HTML element. The major difference between classes and IDs is that an element can only have one ID. It cannot be repeated on a single page and should not contain any whitespace.
*/

#title {
  background-color: lightblue;
}

/* Grouping Elements
we can group elements with a comma if they sharee the same style declarations
*/

.read,
.unread {
  color: white;
  background-color: black;
}

/* Chaining Selectors
Chaining means writing a selector that targets an HTML element only if it has multiple classes at the same time. 
By stringing classes together without spaces, you tell the browser: "Only apply these styles if the element matches all of these criteria simultaneously."
*/


.subsection#preview {
  color: blue;
}

/* Decendant Combinator
A descendant combinator will only cause elements that match the last selector to be selected if they also have an ancestor (parent, grandparent, etc.) that matches the previous selector. e.g, "contents" will not apply the below, however a "contents" inside a "ancestor" will.
*/

.ancestor .contents {
  font-style: italic;
}
